#calcContainer{
    height: 800px;
    width: 800px;
    background-color: rgb(123, 65, 152);
    border-color: aqua;
    border-radius: 25px;
}

#displayArea{
    height: 200px;
    width: 600px;
    background-color: aliceblue;
    border-color: aqua;
    border-radius: 10px;
}

.operatorButtons{
    height: 20px;
    width: 20px;
    background-color: aqua;
    border-radius: 50px;
}

.numberButtons{
    height: 20px;
    width: 20px;
    background-color: aliceblue;
    border-radius: 50px;  
}
