#calcContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 1000px;
    width: 800px;
    background-color: rgb(123, 65, 152);
    border-color: aqua;
    border-radius: 25px;
}

#displayArea{
    height: 200px;
    width: 700px;
    background-color: aliceblue;
    border-color: aqua;
    border-radius: 10px;
    margin-top: 20px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.operatorButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.operatorButtons button{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50px;
    border-color:aliceblue;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:xx-large;
    font-weight: 600;
    margin-right: 20px;
}

.numberButtons{
    display: flex;
    flex-direction: column;
}

.numberButtons button{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border-radius: 50px; 
    border-color: aqua;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:xx-large;
    font-weight: 600;
}

#clear{
    background-color: aliceblue;
    border-color: aqua;
    border-radius: 10px;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: aqua;
    padding: 20px;
}
